# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Kling.iml
# Datasource local storage ignored files
/../../../../../../:\VisualStudioProjects\Kling\.idea\.idea.Kling\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
